.brushes {
background-color: mediumspringgreen;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
font-weight: bold;
color:white;
}
.frames {
background-color: lightcoral;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
font-weight: bold;
color:white;
}
.paint {
background-color: skyblue;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
font-weight: bold;
color:white;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    background-image: url(C:\Users\mshamsudin\FitProject\CSS\Resources\Images\pattern.jpeg);
}
.brush{
    font-weight: bold;
}
.frame{
    font-weight: bold;
}
.paints{
    font-weight: bold;
}
